doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Open Chatting
        style
            include style.css
    body 
        div#wrap
            header 
                h1 오픈 채팅방
            main 
                div#welcome
                    form
                        input(placeholder="방 제목", required, type="text" id="room_name")
                        button 입장   
                h4#roomlists 방 리스트:
                ul#roomlist                    
                div#room
                    form#name
                        input(placeholder="nickname", required, type="text")
                        button ✔
                    h3 
                    ul 
                    form#msg
                        input(type="text",placeholder="message",required)
                        button 🔺
        script(src="/socket.io/socket.io.js")    
        script(src="/public/js/app.js") 
        